extends ../layout

block content
  h1(style="justify-self: center;") Ver Altas Hospitalarias

  .d-flex.justify-content-between.align-items-center.mt-3
    .btn-group
      a.btn.btn-outline-primary(
        href=`/altaHospitalarias?estado=todos&qPaciente=${qPaciente}&qMedico=${qMedico}`
        class=estado==="todos" ? "active" : ""
      ) Todos

      a.btn.btn-outline-success(
        href=`/altaHospitalarias?estado=activos&qPaciente=${qPaciente}&qMedico=${qMedico}`
        class=estado==="activos" ? "active" : ""
      ) Activos

      a.btn.btn-outline-secondary(
        href=`/altaHospitalarias?estado=inactivos&qPaciente=${qPaciente}&qMedico=${qMedico}`
        class=estado==="inactivos" ? "active" : ""
      ) Inactivos

    //- BUSCADOR POR PACIENTE Y MEDICO
    form(method="GET" action="/altaHospitalarias" class="d-flex gap-2 mt-3")
      input.form-control(
        type="text"
        name="qPaciente"
        style="width: 400px;"
        placeholder="Buscar por nombre, apellido o DNI del paciente"
        value=qPaciente
      )

      input.form-control(
        type="text"
        name="qMedico"
        style="width: 400px;"
        placeholder="Buscar por nombre, apellido o email del médico"
        value=qMedico
      )

      //- Mantener el filtro actual
      input(type="hidden" name="estado" value=estado)

      button.btn.btn-outline-primary(type="submit") Buscar

  table.table.table-striped.mt-3
    thead
      tr
        th ID
        th Paciente
        th Fecha de alta
        th Cama
        th Unidad
        th Médico responsable
        th Estado
        if (user.rol != 'recepcion')
          th Acciones
    tbody
      if altaHospitalarias.length > 0
        each a in altaHospitalarias
          tr
            td #{a.idAltaHospitalaria}
            td #{a.Admision.Paciente.nombre} #{a.Admision.Paciente.apellido}
            td #{a.fecha.toLocaleDateString("es-AR")}
            td Cama ##{a.Admision.Cama.numero}
            td #{a.Admision.Cama.Habitacion.Ala.Unidad.nombre}
            td #{a.Usuario.nombre} #{a.Usuario.apellido}
            td 
              if a.visible > 0
                span.bg-success.text-white(style="padding: 4px 10px; border-radius: 5px;") Activo
              else 
                span.bg-secondary.text-white(style="padding: 4px 10px; border-radius: 5px;") Inactivo
            if (user.rol != 'recepcion')
              td
                if (['enfermeria', 'medico'].includes(user.rol))
                  button.btn.btn-sm.btn-outline-primary(
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#modalVer"
                    data-id=a.idAltaHospitalaria
                    data-idAdmision=a.Admision.idAdmision
                    data-fecha=a.fecha.toLocaleDateString("es-AR")
                    data-paciente=`${a.Admision.Paciente.nombre} ${a.Admision.Paciente.apellido}`
                    data-pacienteDni=`${a.Admision.Paciente.dni}`
                    data-cama=`${a.Admision.Cama.numero}`
                    data-habitacion=`${a.Admision.Cama.Habitacion.numero} (${a.Admision.Cama.Habitacion.tipo})`
                    data-ala=`${a.Admision.Cama.Habitacion.Ala.nombre}`
                    data-unidad=`${a.Admision.Cama.Habitacion.Ala.Unidad.nombre}`
                    data-medico=`${a.Usuario.nombre} ${a.Usuario.apellido}`
                    data-diagnosticoFinal=a.diagnosticoFinal
                    data-indicacionesAlta=a.indicacionesAlta
                    data-seguimientoFuturo=a.seguimientoFuturo
                  ) Ver
                if (user.rol == 'admin')
                  if a.visible == 1
                    button.btn.btn-sm.btn-danger.mx-1(
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#modalBajaAltaHospitalaria"
                      data-id=a.idAltaHospitalaria
                    ) Dar de baja
                  else
                    button.btnAltaAltaHospitalaria.btn.btn-sm.btn-primary.mx-1(
                      data-id=a.idAltaHospitalaria
                    ) Dar de Alta
      else
        tr
          td(colspan="9" class="text-center text-muted")
            | No se encontraron altaHospitalarias
  
  if totalPages > 1
    nav.mt-4
      ul.pagination
        each n in Array(totalPages).fill(0).map((_, i) => i + 1)
          li.page-item(class=page===n ? "active" : "")
            a.page-link(
              href=`/altaHospitalarias?estado=${estado}&qPaciente=${qPaciente}&qMedico=${qMedico}&page=${n}`
            ) #{n}
  
  if (['enfermeria', 'medico'].includes(user.rol))
    //- MODAL VER ALTA HOSPITALARIA
    #modalVer.modal.fade(tabindex="-1" aria-hidden="true")
      .modal-dialog.modal-xl
        .modal-content
          .modal-header
            h5.modal-title Alta Hospitalaria de la admision #
              span.ver-idAdmision
            button.btn-close(type="button", data-bs-dismiss="modal")

          .modal-body
            h6.mb-3.text-primary Información General
            .row
              .col-md-6.mb-2
                strong Paciente: 
                span.ver-paciente
              .col-md-6.mb-2
                strong DNI: 
                span.ver-pacienteDni
            .row
              .col-md-6.mb-2
                strong Fecha de Alta: 
                span.ver-fecha
              .col-md-6.mb-2
                strong Médico: 
                span.ver-medico
            .row
              .col-md-3.mb-2
                strong Cama: 
                span.ver-cama
              .col-md-3.mb-2
                strong Habitación: 
                span.ver-habitacion
              .col-md-3.mb-2
                strong Ala: 
                span.ver-ala
              .col-md-3.mb-2
                strong Unidad: 
                span.ver-unidad

            hr

            h6.mb-3.text-primary Información Clínica

            .mb-3
              strong Diagnóstico Final: 
              span.ver-diagnosticoFinal.mt-1
            .mb-3
              strong Indicaciones de Alta: 
              span.ver-indicacionesAlta.mt-1
            .mb-3
              strong Seguimiento Futuro: 
              span.ver-seguimientoFuturo.mt-1

          .modal-footer
            button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Cerrar

  if (user.rol == 'admin')
    //- MODAL PARA CONFIRMAR LA BAJA LOGICA
    #modalBajaAltaHospitalaria.modal.fade(tabindex="-1" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title Dar de baja alta Hospitalaria
            button.btn-close(type="button", data-bs-dismiss="modal")

          .modal-body
            p Seguro que deseas dar de baja al 
              strong Alta Hospitalaria

          .modal-footer
            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancelar
            button.btn.btn-danger#btnConfirmarBaja(type="button") Baja lógica

  script.
    document.addEventListener("DOMContentLoaded", () => {

      // -------- QUITAR FOCUS DE MODALES SI SE OCULTAN --------
      document.querySelectorAll('.modal').forEach(modal => {
        modal.addEventListener("hidden.bs.modal", () => {
          document.activeElement.blur();
          document.body.focus();
        });
      });

      // -------- MODAL VER ---------
      const modalVer = document.getElementById("modalVer");

      if (modalVer) {
        modalVer.addEventListener("show.bs.modal", (event) => {
          const btn = event.relatedTarget;

          // Obtener los campos
          const idAdmision = btn.dataset.idadmision;
          const fecha = btn.dataset.fecha;
          const paciente = btn.dataset.paciente;
          const pacienteDni = btn.dataset.pacientedni;
          const cama = btn.dataset.cama;
          const habitacion = btn.dataset.habitacion;
          const ala = btn.dataset.ala;
          const unidad = btn.dataset.unidad;
          const medico = btn.dataset.medico;
          const diagnosticoFinal = btn.dataset.diagnosticofinal;
          const indicacionesAlta = btn.dataset.indicacionesalta;
          const seguimientoFuturo = btn.dataset.seguimientofuturo;

          // Volcar en el modal
          modalVer.querySelector(".ver-idAdmision").textContent = idAdmision;
          modalVer.querySelector(".ver-fecha").textContent = fecha;
          modalVer.querySelector(".ver-paciente").textContent = paciente;
          modalVer.querySelector(".ver-pacienteDni").textContent = pacienteDni;
          modalVer.querySelector(".ver-cama").textContent = "Cama #"+cama;
          modalVer.querySelector(".ver-habitacion").textContent = habitacion;
          modalVer.querySelector(".ver-ala").textContent = ala;
          modalVer.querySelector(".ver-unidad").textContent = unidad;
          modalVer.querySelector(".ver-medico").textContent = medico;
          modalVer.querySelector(".ver-diagnosticoFinal").textContent = diagnosticoFinal;
          modalVer.querySelector(".ver-indicacionesAlta").textContent = indicacionesAlta;
          modalVer.querySelector(".ver-seguimientoFuturo").textContent = seguimientoFuturo;
        });
      }

      // -------- BAJA ALTA HOSPITALARIA --------
      const modalBaja = document.getElementById("modalBajaAltaHospitalaria");
      const btnBaja = document.getElementById("btnConfirmarBaja");

      if (modalBaja && btnBaja) {
        modalBaja.addEventListener("show.bs.modal", (event) => {
          const button = event.relatedTarget;

          const id = button.dataset.id;

          btnBaja.dataset.id = id;
        });

        btnBaja.addEventListener("click", async () => {
          
          const id = btnBaja.dataset.id;

          const res = await fetch(`/altaHospitalarias/baja/${id}`, {
            method: "POST",
            headers: { "Content-Type": "application/json" }
          });

          const json = await res.json();

          if (json.ok) {
            location.reload(); // refrescar tabla
          } else {
            alert(json.error || "Error al dar de baja");
          }
        });
      }

      // -------- ALTA ALTA HOSPITALARIA --------
      const botonesAlta = document.querySelectorAll(".btnAltaAltaHospitalaria");

      botonesAlta.forEach(btn => {
        btn.addEventListener("click", async () => {

          const id = btn.dataset.id;

          const res = await fetch(`/altaHospitalarias/alta/${id}`, {
            method: "POST",
            headers: { "Content-Type": "application/json" }
          });

          const json = await res.json();

          if (json.ok) location.reload();
          else alert(json.error || "Error al dar de alta");
        });
      });
    });