extends ../layout

block content
  h1(style="justify-self: center;") Gestión de Admisiones

  .d-flex.justify-content-between.align-items-center
    .d-flex.justify-content-between.align-items-center.mt-3
      .btn-group
        a.btn.btn-outline-primary(
          href=`/admisiones?estado=todos&tIF=${tIF}`
          class=estado==="todos" ? "active" : ""
        ) Todos

        a.btn.btn-outline-success(
          href=`/admisiones?estado=activa&tIF=${tIF}`
          class=estado==="activa" ? "active" : ""
        ) Activas

        a.btn.btn-outline-secondary(
          href=`/admisiones?estado=cancelada&tIF=${tIF}`
          class=estado==="cancelada" ? "active" : ""
        ) Canceladas

        a.btn.btn-outline-info(
          href=`/admisiones?estado=finalizada&tIF=${tIF}`
          class=estado==="finalizada" ? "active" : ""
        ) Finalizadas

    //- FILTROS
    form(method="GET" action="/admisiones" class="d-flex gap-2 mt-3")
      select.form-control(name="tIF" style="width: 250px;")
        option(value='' selected=tIF == '') Todos los tipos de ingreso
        option(value='cita' selected=tIF == 'cita') Cita
        option(value='derivacion' selected=tIF == 'derivacion') Derivación
        option(value='emergencia' selected=tIF == 'emergencia') Emergencia

      //- Mantener el filtro actual
      input(type="hidden" name="estado" value=estado)

      button.btn.btn-outline-primary(type="submit") Buscar

    if (['admin', 'recepcion'].includes(user.rol))
      button#btnAgregarAdmision.btn.btn-success.mx-3.mt-3(
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modalCrearAdmision"
      ) + Nuevo Admision

  table.table.table-striped.mt-3
    thead
      tr
        th ID
        th Paciente
        th Cama y Habitación
        th Ala y Unidad
        th Fecha de ingreso
        th Tipo de ingreso
        th Motivo de internación
        th Estado
        th Acciones
    tbody
      if admisiones.length > 0
        each a in admisiones
          tr
            td #{a.idAdmision}
            td #{a.Paciente.nombre} #{a.Paciente.apellido}
            td Cama ##{a.Cama.numero} - #{a.Cama.Habitacion.numero} (#{a.Cama.Habitacion.tipo})
            td #{a.Cama.Habitacion.Ala.nombre} - #{a.Cama.Habitacion.Ala.Unidad.nombre}
            td #{a.fechaIngreso.toLocaleDateString("es-AR")}
            td 
              if a.tipoIngreso=='derivacion'
                span derivado por #{a.derivadoPor}
              else
                span #{a.tipoIngreso}
            - const preview = a.motivoInternacion ? a.motivoInternacion.slice(0, 30) : '–'
            td #{preview}...
            td 
              if a.estado=='activa'
                span.bg-success.text-white(style="padding: 4px 10px; border-radius: 5px;") #{a.estado}
              else if a.estado=='cancelada'
                span.bg-secondary.text-white(style="padding: 4px 10px; border-radius: 5px;") #{a.estado}
              else 
                span.bg-primary.text-white(style="padding: 4px 10px; border-radius: 5px;") #{a.estado}
            td
              a.btnVerDetalle.btn.btn-sm.btn-info.mx-1(
                href=`/admisiones/detalle/${a.idAdmision}`
              ) Ver Detalles
              if (['admin', 'recepcion'].includes(user.rol))
                if a.estado == 'activa'
                  button.btn.btn-sm.btn-danger.mx-1(
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#modalBajaAdmision"
                    data-id=a.idAdmision
                    data-nombre=`${a.idAdmision}`
                  ) Cancelar
      else
        tr
          td(colspan="9" class="text-center text-muted")
            | No se encontraron admisiones
  
  if totalPages > 1
    nav.mt-4
      ul.pagination
        each n in Array(totalPages).fill(0).map((_, i) => i + 1)
          li.page-item(class=page===n ? "active" : "")
            a.page-link(
              href=`/admisiones?estado=${estado}&tIF=${tIF}&page=${n}`
            ) #{n}
  
  if (['admin', 'recepcion'].includes(user.rol))
    //- MODAL CREAR ADMISION
    #modalCrearAdmision.modal.fade(tabindex="-1" aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            h5.modal-title Nuevo Admision
            button.btn-close(type="button", data-bs-dismiss="modal")

          .modal-body
            form#formCrearAdmision
              .mb-3#formCrearPaciente
                label.form-label Paciente
                select#selectCrearPaciente.form-control(name="pacienteId")

              .mb-3.hideImportant#formCrearPacienteNN
                label.form-label Paciente NN
                input.form-control(name="pacienteIdNN" disabled)
              
              .mb-3.d-flex(style="justify-content: right;")
                .form-check
                  input.form-check-input(type="checkbox" name="pacienteNN")
                  label.form-check-label Paciente no identificado
              
              .mb-3
                label.form-label Tipo de ingreso
                select.form-control(name="tipoIngreso")
                  option(value='cita') Cita
                  option(value='derivacion') Derivación
                  option(value='emergencia') Emergencia

              .mb-3
                label.form-label Derivado por
                input.form-control(name="derivadoPor")

              .mb-3
                label.form-label Motivo de internación
                input.form-control(name="motivoInternacion")

              hr

              Label.form-label Filtros para Buscar la cama
              .mb-3.d-flex.justify-content-between.gap-2
                select.form-control(name="unidadId")
                  option(value=0) Cualquier Unidad
                  each u in unidades
                    option(value=u.idUnidad) #{u.nombre}
              
                select.form-control(name="alaId")
                  option(value=0) Cualquier Ala
              
                select.form-control(name="habitacionId" disabled)
                  option(value=0) Cualquier Habitacion

              .mb-3
                label.form-label Cama
                select.form-control(name="camaId" disabled)
                  option(value=0) Falta asignar Cama

          .modal-footer
            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancelar
            button.btn.btn-primary(type="submit" form="formCrearAdmision") Guardar

    //- MODAL PARA CONFIRMAR LA BAJA LOGICA
    #modalBajaAdmision.modal.fade(tabindex="-1" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title Cancelar Admision
            button.btn-close(type="button", data-bs-dismiss="modal")

          .modal-body
            p Seguro que deseas cancelar la Admision: 
              strong 
                span#nombreAdmision

          .modal-footer
            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancelar
            button.btn.btn-danger#btnConfirmarBaja(type="button") Confirmar

  script.
    document.addEventListener("DOMContentLoaded", () => {

      // -------- QUITAR FOCUS DE MODALES SI SE OCULTAN --------
      document.querySelectorAll('.modal').forEach(modal => {
        modal.addEventListener("hidden.bs.modal", () => {
          document.activeElement.blur();
          document.body.focus();
        });
      });

      // -------- CREAR ADMISION --------
      const formCrear = document.getElementById("formCrearAdmision");
      const modalCrear = document.getElementById("modalCrearAdmision");
      const btnAgregarAdmision = document.getElementById("btnAgregarAdmision");
      
      if (formCrear, modalCrear, btnAgregarAdmision) {
        $(document).ready(function() {
            $('#selectCrearPaciente').select2({
              theme: "bootstrap5",
              language: "es",
              dropdownParent: modalCrear,
              placeholder: 'Buscar paciente...',
              minimumInputLength: 2,
              ajax: {
                url: 'admisiones/api/pacientes',
                dataType: 'json',
                delay: 300,
                data: params => ({
                  q: params.term
                }),
                processResults: data => ({
                  results: data.map(p => ({
                    id: p.idPaciente,
                    text: `${p.nombre} ${p.apellido} - DNI: ${p.dni}`
                  }))
                })
              }
            });

            $('#selectCrearPaciente').on('select2:select', function (e) {
                formCrearCargarCamas();
            });
        });

        formCrear.pacienteNN.addEventListener("change", () => {
          const formCrearPaciente = document.getElementById("formCrearPaciente");
          const formCrearPacienteNN = document.getElementById("formCrearPacienteNN");

          formCrear.pacienteId.disabled = formCrear.pacienteNN.checked;
          formCrearCargarCamas();

          if (formCrear.pacienteNN.checked && formCrearPaciente && formCrearPacienteNN) {
            formCrear.pacienteIdNN.value = "No identificado";
            formCrearPaciente.classList.add("hideImportant");
            formCrearPacienteNN.classList.remove("hideImportant");
          }else {
            formCrearPacienteNN.classList.add("hideImportant");
            formCrearPaciente.classList.remove("hideImportant");
          }
        });

        btnAgregarAdmision.addEventListener("click", async (event) => {
          const button = event.relatedTarget;

          if (formCrear.tipoIngreso.value=='derivacion') {
            formCrear.derivadoPor.disabled = false;
            formCrear.derivadoPor.required = true;
          }else {
            formCrear.derivadoPor.value = "";
            formCrear.derivadoPor.required = false;
            formCrear.derivadoPor.disabled = true;
          }

          if (formCrear.unidadId.value==0) {
            formCrear.alaId.innerHTML = `<option value="0">Cualquier Ala</option>`;
            formCrear.alaId.disabled = true;
            formCrear.habitacionId.innerHTML = `<option value="0">Cualquier Habitación</option>`;
            formCrear.habitacionId.disabled = true;
            formCrearCargarCamas();
          }else {
            const res = await fetch(`/admisiones/api/alas/${formCrear.unidadId.value}`);
            const resJson = await res.json();
            const alas = resJson.alas;

            formCrear.alaId.innerHTML = `<option value="0">Cualquier Ala</option>`;
            formCrear.habitacionId.innerHTML = `<option value="0">Cualquier Habitación</option>`;
            formCrear.habitacionId.disabled = true;

            alas.forEach(a => {
              formCrear.alaId.innerHTML += `<option value="${a.idAla}">${a.nombre}</option>`;
            });

            formCrear.alaId.disabled = false;
            formCrearCargarCamas();
          }
        });

        formCrear.tipoIngreso.addEventListener("change", () => {
          if (formCrear.tipoIngreso.value=='derivacion') {
            formCrear.derivadoPor.disabled = false;
            formCrear.derivadoPor.required = true;
          }else {
            formCrear.derivadoPor.value = "";
            formCrear.derivadoPor.required = false;
            formCrear.derivadoPor.disabled = true;
          }
        });

        formCrear.unidadId.addEventListener("change", async () => {
          if (formCrear.unidadId.value==0) {
            formCrear.alaId.innerHTML = `<option value="0">Cualquier Ala</option>`;
            formCrear.alaId.disabled = true;
            formCrear.habitacionId.innerHTML = `<option value="0">Cualquier Habitación</option>`;
            formCrear.habitacionId.disabled = true;
            formCrearCargarCamas();

            return;
          }

          const res = await fetch(`/admisiones/api/alas/${formCrear.unidadId.value}`);
          const resJson = await res.json();
          const alas = resJson.alas;

          formCrear.alaId.innerHTML = `<option value="0">Cualquier Ala</option>`;
          formCrear.habitacionId.innerHTML = `<option value="0">Cualquier Habitación</option>`;
          formCrear.habitacionId.disabled = true;
          
          alas.forEach(a => {
            formCrear.alaId.innerHTML += `<option value="${a.idAla}">${a.nombre}</option>`;
          });

          formCrear.alaId.disabled = false;
          formCrearCargarCamas();
        });

        formCrear.alaId.addEventListener("change", async () => {
          if (formCrear.alaId.value==0) {
            formCrear.habitacionId.innerHTML = `<option value="0">Cualquier Habitación</option>`;
            formCrear.habitacionId.disabled = true;
            formCrearCargarCamas();

            return;
          }

          const res = await fetch(`/admisiones/api/habitaciones/${formCrear.alaId.value}`);
          const resJson = await res.json();
          const habitaciones = resJson.habitaciones;

          formCrear.habitacionId.innerHTML = `<option value="0">Cualquier Habitación</option>`;
          
          habitaciones.forEach(h => {
            formCrear.habitacionId.innerHTML += `<option value="${h.idHabitacion}">${h.numero} - ${h.tipo}</option>`;
          });

          formCrear.habitacionId.disabled = false;
          formCrearCargarCamas();
        });

        formCrear.habitacionId.addEventListener("change", async () => {
          formCrearCargarCamas();
        });

        async function formCrearCargarCamas() {
          const res = await fetch(`/admisiones/api/camas/${formCrear.unidadId.value}&${formCrear.alaId.value}&${formCrear.habitacionId.value}&${formCrear.pacienteId.value || 0}&${formCrear.pacienteNN.checked}`);
          const resJson = await res.json();
          const camas = resJson.camas;

          formCrear.camaId.innerHTML = `<option value="0">Falta asignar Cama</option>`;
          
          camas.forEach(c => {
            formCrear.camaId.innerHTML += `<option value="${c.idCama}">Cama #${c.numero} - Habitación #${c.Habitacion.numero} (${c.Habitacion.tipo}) - ${c.Habitacion.Ala.nombre} - ${c.Habitacion.Ala.Unidad.nombre} </option>`;
          });

          formCrear.camaId.disabled = false;
        }

        formCrear.addEventListener("submit", async (e) => {
          e.preventDefault();
          const data = Object.fromEntries(new FormData(formCrear));

          if (data.pacienteNN) {
            const res = await fetch("/admisiones/crearNN", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(data)
            });

            const json = await res.json();
            if (json.ok) location.reload();
            else alert(json.error);
          }else {
            const res = await fetch("/admisiones/crear", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(data)
            });

            const json = await res.json();
            if (json.ok) location.reload();
            else alert(json.error);
          }
        });
      }

      // -------- CANCELAR ADMISION --------
      const modalBaja = document.getElementById("modalBajaAdmision");
      const btnBaja = document.getElementById("btnConfirmarBaja");
      
      if (modalBaja && btnBaja) {
        modalBaja.addEventListener("show.bs.modal", (event) => {
          const button = event.relatedTarget; // botón que abrió el modal

          const id = button.dataset.id;
          const nombre = button.dataset.nombre;

          // Guardamos el ID en el botón de confirmar para usarlo luego
          btnBaja.dataset.id = id;

          // Mostrar el nombre del admision en el texto del modal
          const nombreSpan = modalBaja.querySelector("#nombreAdmision");
          if (nombreSpan) {
            nombreSpan.textContent = nombre;
          }
        });

        btnBaja.addEventListener("click", async () => {
          const id = btnBaja.dataset.id;
          const estado = 'cancelada';

          const res = await fetch(`/admisiones/cambiarEstado/${id}&${estado}`, {
            method: "POST",
            headers: { "Content-Type": "application/json" }
          });

          const json = await res.json();

          if (json.ok) {
            location.reload(); // refrescar tabla
          } else {
            alert(json.error || "Error al cancelar");
          }
        });
      }
    });