extends layout

block content
  .mb-3.d-flex.align-items-center
    if user.avatar
      img.rounded-circle(
        src=user.avatar
        alt="Perfil"
        style="width:75px;height:75px;"
      )
    else
      //- Inicial del nombre
      - const inicial = user.nombre ? user.nombre[0].toUpperCase() : "?"
      .rounded-circle.bg-primary.text-white.d-flex.align-items-center.justify-content-center(
        style="width:75px;height:75px;font-size: 42px;"
      ) #{inicial}
    h1.mx-3 Bienvenido, #{user.nombre} #{user.apellido}
  p.text-muted Rol: #{user.rol}
  p.text-muted Email: #{user.email}
  hr

  p.mt-4 Bienvenido al sistema HIS de internación. Seleccioná una opción del menú lateral para comenzar.