extends ../layout

block content
  h1(style="justify-self: center;") Gestión de Camas

  .d-flex.justify-content-between.align-items-center
    .d-flex.justify-content-between.align-items-center.mt-3
      .btn-group
        a.btn.btn-outline-primary(
          href="/camas?estado=todos"
          class=estado==="todos" ? "active" : ""
        ) Todos

        a.btn.btn-outline-success(
          href="/camas?estado=activos"
          class=estado==="activos" ? "active" : ""
        ) Activos

        a.btn.btn-outline-secondary(
          href="/camas?estado=inactivos"
          class=estado==="inactivos" ? "active" : ""
        ) Inactivos

    button#btnAgregarCama.btn.btn-success.mx-3.mt-3(
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#modalCrearCama"
    ) + Nueva Cama

  .d-flex.justify-content-center.align-items-center
    //- FILTROS DE UBICACIÓN
    form#formFiltros(method="GET" action="/camas" class="d-flex gap-2 mt-3")
      select.form-control(name="unidadFiltro" style="width: 175px;")
        option(value="0") Filtrar Unidad
        each u in unidades
          option(value=u.idUnidad selected=unidadFiltro == u.idUnidad)= u.nombre

      select.form-control(name="alaFiltro" style="width: 175px;" disabled)
        option(value="0") Filtrar Ala

      select.form-control(name="habitacionFiltro" style="width: 175px;" disabled)
        option(value="0") Filtrar Habitación

      select.form-control(name="tHF" style="width: 250px;")
        option(value='' selected=tHF == '') Todos los tipos de Habitación
        option(value='individual' selected=tHF == 'individual') Individual
        option(value='doble' selected=tHF == 'doble') Doble

      select.form-control(name="eCF" style="width: 250px;")
        option(value='' selected=eCF == '') Todos los estados de Cama
        option(value='libre' selected=eCF == 'libre') Libre
        option(value='ocupada' selected=eCF == 'ocupada') Ocupada
        option(value='sucia' selected=eCF == 'sucia') Sucia
        option(value='mantenimiento' selected=eCF == 'mantenimiento') Mantenimiento

      input(type="hidden" name="estado" value=estado)
      input(type="hidden" name="unidadFiltroG" value=unidadFiltro)
      input(type="hidden" name="alaFiltroG" value=alaFiltro)
      input(type="hidden" name="habitacionFiltroG" value=habitacionFiltro)
      input(type="hidden" name="flagChanges" value=0)

      button.btn.btn-outline-primary(type="submit") Filtrar

  table.table.table-striped.mt-3
    thead
      tr
        th ID
        th Número
        th Habitación
        th Ala
        th Unidad
        th Estado
        th Habilitación
        th Acciones
    tbody
      if camas.length > 0
        each c in camas
          tr
            td #{c.idCama}
            td #{c.numero}
            td #{c.Habitacion.numero} - #{c.Habitacion.tipo}
            td #{c.Habitacion.Ala.nombre}
            td #{c.Habitacion.Ala.Unidad.nombre}
            td
              if c.estado == 'libre'
                span.bg-success.text-white(style="padding: 4px 10px; border-radius: 5px;") libre
              else if c.estado == 'ocupada'
                span.bg-secondary.text-white(style="padding: 4px 10px; border-radius: 5px;") ocupada
              else if c.estado == 'sucia'
                span.bg-warning(style="padding: 4px 10px; border-radius: 5px;") sucia
              else
                span.bg-primary.text-white(style="padding: 4px 10px; border-radius: 5px;") #{c.estado}
            td 
              if c.visible > 0
                span.bg-success.text-white(style="padding: 4px 10px; border-radius: 5px;") Activo
              else 
                span.bg-secondary.text-white(style="padding: 4px 10px; border-radius: 5px;") Inactivo
            td
              if c.visible == 1
                button.btn.btn-sm.btn-warning.mx-1(
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#modalEditarCama"
                  data-id=c.idCama
                  data-numero=c.numero
                  data-habitacion-id=c.Habitacion.idHabitacion
                  data-ala-id=c.Habitacion.Ala.idAla
                  data-unidad-id=c.Habitacion.Ala.Unidad.idUnidad
                  data-estado=c.estado
                ) Editar
                button.btn.btn-sm.btn-danger.mx-1(
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#modalBajaCama"
                  data-id=c.idCama
                  data-numero=`${c.numero}`
                ) Dar de baja
              else
                button.btnAltaCama.btn.btn-sm.btn-primary.mx-1(
                  data-id=c.idCama
                ) Dar de Alta
      else
        tr
          td(colspan="9" class="text-center text-muted")
            | No hay camas registradas
  
  if totalPages > 1
    nav.mt-4
      ul.pagination
        each n in Array(totalPages).fill(0).map((_, i) => i + 1)
          li.page-item(class=page===n ? "active" : "")
            a.page-link(
              href=`/camas?estado=${estado}&buscar=${buscar}&page=${n}`
            ) #{n}
  
  //- MODAL CREAR CAMA
  #modalCrearCama.modal.fade(tabindex="-1" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Nueva Cama
          button.btn-close(type="button", data-bs-dismiss="modal")

        .modal-body
          form#formCrearCama
            .mb-3
              label.form-label Unidad
              select.form-control(name="unidadId")
                each u in unidades
                  option(value=u.idUnidad) #{u.nombre}
            
            .mb-3
              label.form-label Ala
              select.form-control(name="alaId")
                option(value=0) Falta especificar
            
            .mb-3
              label.form-label Habitación
              select.form-control(name="habitacionId" disabled)
                option(value=0) Falta especificar

            .mb-3
              label.form-label Número
              input.form-control(name="numero" required)

            .mb-3
              label.form-label Estado
              select.form-control(name="estado")
                option(value='libre') Libre
                option(value='mantenimiento') Mantenimiento

        .modal-footer
          button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancelar
          button.btn.btn-primary(type="submit" form="formCrearCama") Guardar

  //- MODAL EDITAR CAMA
  #modalEditarCama.modal.fade(tabindex="-1" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Editar Cama
          button.btn-close(type="button", data-bs-dismiss="modal")

        .modal-body
          form#formEditarCama
            input(type="hidden" name="id")

            .mb-3
              label.form-label Unidad
              select.form-control(name="unidadId")
                each u in unidades
                  option(value=u.idUnidad) #{u.nombre}
            
            .mb-3
              label.form-label Ala
              select.form-control(name="alaId")
                option(value=0) Falta especificadar
            
            .mb-3
              label.form-label Habitación
              select.form-control(name="habitacionId")
                option(value=0) Falta especificadar

            .mb-3
              label.form-label Número
              input.form-control(name="numero" required)

            .mb-3
              label.form-label Estado
              select.form-control(name="estado")
                option(value='libre') Libre
                option(value='ocupada') Ocupada
                option(value='sucia') Sucia
                option(value='mantenimiento') Mantenimiento

        .modal-footer
          button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancelar
          button.btn.btn-primary(type="submit" form="formEditarCama") Guardar Cambios

  //- MODAL PARA CONFIRMAR LA BAJA LOGICA
  #modalBajaCama.modal.fade(tabindex="-1" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Dar de baja cama
          button.btn-close(type="button", data-bs-dismiss="modal")

        .modal-body
          p Seguro que deseas dar de baja a:
            strong 
              span#nombreCama

        .modal-footer
          button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancelar
          button.btn.btn-danger#btnConfirmarBaja(type="button") Baja lógica

  script.
    document.addEventListener("DOMContentLoaded", () => {
      
      // -------- QUITAR FOCUS DE MODALES SI SE OCULTAN --------
      document.querySelectorAll('.modal').forEach(modal => {
        modal.addEventListener("hidden.bs.modal", () => {
          document.activeElement.blur();
          document.body.focus();
        });
      });

      // -------- CREAR CAMA --------
      const formCrear = document.getElementById("formCrearCama");
      const btnCrear = document.getElementById("btnAgregarCama");

      btnCrear.addEventListener("click", async (event) => {
        const button = event.relatedTarget;

        const res = await fetch(`/camas/api/alas/${formCrear.unidadId.value}`);
        const resJson = await res.json();
        const alas = resJson.alas;

        formCrear.alaId.innerHTML = `<option value="0">Falta especificar</option>`;
        formCrear.habitacionId.innerHTML = `<option value="0">Falta especificar</option>`;
        formCrear.habitacionId.disabled = true;

        alas.forEach(a => {
          formCrear.alaId.innerHTML += `<option value="${a.idAla}">${a.nombre}</option>`;
        });
      });

      formCrear.unidadId.addEventListener("change", async () => {
        const res = await fetch(`/camas/api/alas/${formCrear.unidadId.value}`);
        const resJson = await res.json();
        const alas = resJson.alas;

        formCrear.alaId.innerHTML = `<option value="0">Falta especificar</option>`;
        formCrear.habitacionId.innerHTML = `<option value="0">Falta especificar</option>`;
        formCrear.habitacionId.disabled = true;
        
        alas.forEach(a => {
          formCrear.alaId.innerHTML += `<option value="${a.idAla}">${a.nombre}</option>`;
        });
      });

      formCrear.alaId.addEventListener("change", async () => {
        const res = await fetch(`/camas/api/habitaciones/${formCrear.alaId.value}`);
        const resJson = await res.json();
        const habitaciones = resJson.habitaciones;

        formCrear.habitacionId.innerHTML = `<option value="0">Falta especificar</option>`;
        
        habitaciones.forEach(h => {
          formCrear.habitacionId.innerHTML += `<option value="${h.idHabitacion}">${h.numero} - ${h.tipo}</option>`;
        });

        formCrear.habitacionId.disabled = false;
      });

      if (formCrear) {
        formCrear.addEventListener("submit", async (e) => {
          e.preventDefault();
          const data = Object.fromEntries(new FormData(formCrear));

          const res = await fetch("/camas/crear", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
          });

          const json = await res.json();
          if (json.ok) location.reload();
          else alert(json.error);
        });
      }

      // -------- EDITAR CAMA --------
      const modalEditar = document.getElementById("modalEditarCama");
      const formEditar = document.getElementById("formEditarCama");

      modalEditar.addEventListener("show.bs.modal", async (event) => {
        const button = event.relatedTarget;

        formEditar.id.value = button.dataset.id;
        formEditar.numero.value = button.dataset.numero;

        const unidadId = button.dataset.unidadId;
        formEditar.unidadId.value = unidadId;

        const resAla = await fetch(`/camas/api/alas/${unidadId}`);
        const resAlaJson = await resAla.json();
        const alas = resAlaJson.alas;

        formEditar.alaId.innerHTML = `<option value="0">Falta especificar</option>`;
        formEditar.habitacionId.innerHTML = `<option value="0">Falta especificar</option>`;
        formEditar.habitacionId.disabled = false;

        alas.forEach(a => {
          formEditar.alaId.innerHTML += `<option value="${a.idAla}">${a.nombre}</option>`;
        });

        const alaId = button.dataset.alaId;
        formEditar.alaId.value = alaId;

        const resHab = await fetch(`/camas/api/habitaciones/${alaId}`);
        const resHabJson = await resHab.json();
        const habitaciones = resHabJson.habitaciones;

        habitaciones.forEach(h => {
          formEditar.habitacionId.innerHTML += `<option value="${h.idHabitacion}">${h.numero} - ${h.tipo}</option>`;
        });

        const habitacionId = button.dataset.habitacionId;
        formEditar.habitacionId.value = habitacionId;
        
        const estado = button.dataset.estado;
        formEditar.estado.value = estado;
      });

      formEditar.unidadId.addEventListener("change", async () => {
        const res = await fetch(`/camas/api/alas/${formEditar.unidadId.value}`);
        const resJson = await res.json();
        const alas = resJson.alas;

        formEditar.alaId.innerHTML = `<option value="0">Falta especificar</option>`;
        formEditar.habitacionId.innerHTML = `<option value="0">Falta especificar</option>`;
        formEditar.habitacionId.disabled = true;
        
        alas.forEach(a => {
          formEditar.alaId.innerHTML += `<option value="${a.idAla}">${a.nombre}</option>`;
        });
      });

      formEditar.alaId.addEventListener("change", async () => {
        const res = await fetch(`/camas/api/habitaciones/${formEditar.alaId.value}`);
        const resJson = await res.json();
        const habitaciones = resJson.habitaciones;

        formEditar.habitacionId.innerHTML = `<option value="0">Falta especificar</option>`;
        
        habitaciones.forEach(h => {
          formEditar.habitacionId.innerHTML += `<option value="${h.idHabitacion}">${h.numero} - ${h.tipo}</option>`;
        });

        formEditar.habitacionId.disabled = false;
      });

      formEditar.addEventListener("submit", async (e) => {
        e.preventDefault();

        const data = Object.fromEntries(new FormData(formEditar));

        const res = await fetch(`/camas/editar/${data.id}`, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(data)
        });

        const json = await res.json();
        if (json.ok) location.reload();
        else alert(json.error);
      });

      // -------- BAJA CAMA --------
      const modalBaja = document.getElementById("modalBajaCama");
      const btnBaja = document.getElementById("btnConfirmarBaja");

      modalBaja.addEventListener("show.bs.modal", (event) => {
        const button = event.relatedTarget; // botón que abrió el modal

        const id = button.dataset.id;
        const numero = button.dataset.numero;

        // Guardamos el ID en el botón de confirmar para usarlo luego
        btnBaja.dataset.id = id;

        // Mostrar el nombre del cama en el texto del modal
        const nombreSpan = modalBaja.querySelector("#nombreCama");
        if (nombreSpan) {
          nombreSpan.textContent = numero;
        }
      });

      btnBaja.addEventListener("click", async () => {
        
        const id = btnBaja.dataset.id;

        const res = await fetch(`/camas/baja/${id}`, {
          method: "POST",
          headers: { "Content-Type": "application/json" }
        });

        const json = await res.json();

        if (json.ok) {
          location.reload(); // refrescar tabla
        } else {
          alert(json.error || "Error al dar de baja");
        }
      });

      // -------- ALTA CAMA --------
      const botonesAlta = document.querySelectorAll(".btnAltaCama");

      botonesAlta.forEach(btn => {
        btn.addEventListener("click", async () => {

          const id = btn.dataset.id;

          const res = await fetch(`/camas/alta/${id}`, {
            method: "POST",
            headers: { "Content-Type": "application/json" }
          });

          const json = await res.json();

          if (json.ok) location.reload();
          else alert(json.error || "Error al dar de alta");
        });
      });

      // -------- FILTROS --------
      const formFiltros = document.getElementById("formFiltros");
      let selecteds = {unidad: formFiltros.unidadFiltroG.value, ala: formFiltros.alaFiltroG.value};

      if (formFiltros) {
        formFiltros.flagChanges.value = 0;
        cargarFiltros(formFiltros, selecteds);
      
        formFiltros.addEventListener("change", async () => {
          formFiltros.flagChanges.value = 1;
          cargarFiltros(formFiltros, selecteds);
        });
      }

      async function cargarFiltros(formFiltros, selecteds) {
        const unidadId = formFiltros.unidadFiltro.value;
        let alaId = formFiltros.alaFiltro.value;

        // ------- Cargar ALAS al cambiar Unidad -------
        if (unidadId != 0) {
          formFiltros.alaFiltro.disabled = false;

          if (formFiltros.flagChanges.value == 0 || selecteds.unidad != unidadId) {
            selecteds.unidad = unidadId;
            const res = await fetch(`/camas/api/alas/${unidadId}`);
            const resJson = await res.json();
            const alas = resJson.alas;

            // Limpiar opciones previas
            formFiltros.alaFiltro.innerHTML = `<option value="0">Filtrar Ala</option>`;
            formFiltros.habitacionFiltro.innerHTML = `<option value="0">Filtrar Habitación</option>`;
            formFiltros.habitacionFiltro.disabled = true;

            // Agregar alas
            alas.forEach(a => {
              formFiltros.alaFiltro.innerHTML += `<option value="${a.idAla}">${a.nombre}</option>`;
            });

            if (formFiltros.flagChanges.value == 0) {
              alaId = selecteds.ala;

              formFiltros.alaFiltro.value = alaId;
              formFiltros.alaFiltro.selected = alaId;
            }
          }
        } else {
          formFiltros.alaFiltro.innerHTML = `<option value="0">Filtrar Ala</option>`;
          formFiltros.habitacionFiltro.innerHTML = `<option value="0">Filtrar Habitación</option>`;

          selecteds.unidad = 0;
          selecteds.ala = 0;
          formFiltros.unidadFiltroG.value = 0;
          formFiltros.alaFiltroG.value = 0;
          
          formFiltros.alaFiltro.disabled = true;
          formFiltros.habitacionFiltro.disabled = true;
        }

        // ------- Cargar HABITACIONES al cambiar Ala -------
        if (unidadId != 0 && alaId != 0) {
          formFiltros.habitacionFiltro.disabled = false;

          if (formFiltros.flagChanges.value == 0 || selecteds.ala != alaId) {
            selecteds.ala = alaId;
            const res = await fetch(`/camas/api/habitaciones/${alaId}`);
            const resJson = await res.json();
            const habitaciones = resJson.habitaciones;

            formFiltros.habitacionFiltro.innerHTML = `<option value="0">Filtrar Habitación</option>`;
            
            habitaciones.forEach(h => {
              formFiltros.habitacionFiltro.innerHTML += `<option value="${h.idHabitacion}">${h.numero} - ${h.tipo}</option>`;
            });

            if (formFiltros.flagChanges.value == 0) {
              formFiltros.habitacionFiltro.value = formFiltros.habitacionFiltroG.value;
              formFiltros.habitacionFiltro.selected = formFiltros.habitacionFiltroG.value;
            }
          }
        } else {
          formFiltros.habitacionFiltro.innerHTML = `<option value="0">Filtrar Habitación</option>`;
          formFiltros.habitacionFiltroG.value = 0;

          formFiltros.habitacionFiltro.disabled = true;
        }
      }
    });