extends ../layout

block content
  .container
    h1 Lista de Pacientes
    a.btn.btn-primary(href="/pacientes/crear") Nuevo Paciente

    table.table.table-striped.mt-3
      thead
        tr
          th ID
          th Nombre
          th DNI
          th Sexo
          th Acciones
      tbody
        each p in pacientes
          tr
            td #{p.id}
            td #{p.nombre} #{p.apellido}
            td #{p.dni}
            td #{p.sexo}
            td
              a.btn.btn-sm.btn-warning(href=`/pacientes/editar/${p.id}`) Editar
